html,body {
  height: 100%;
  margin: 0;
}

.nav-wrapper {
  background-color: #191919;
  .nav-link {
    color: #ffffff;
    transition: color .2s linear, background-color .2s linear, border-color .2s linear;

    &:hover {
      color: #FD3137;
    }
  }
}
.footer-wrapper {
  background-color: #191919;
  color:#ffffff;
  height: 40px;

}

#content {
  max-width: 800px;
  margin:0 auto;


}

.wrapper {
  min-height: 100%;
}
