<h1 class="text-center">Welcome!</h1>
<p>My Name is Paul.</p>
<p>I have over four years of professional software development experience working with
  PHP, MySQL, JavaScript, HTML and CSS.
</p>
<h2>About Me</h2>
<p>I am passionate about coding, solving challenging problems and pushing myself to new limits.</p>
<p>Problem solving is challenging, and even though in many cases I feel like ripping my hair off,
  the satisfaction after solving something challenging is something that is hard to describe.
  </p>
  <hr />
<p>
Recently, I have become obsessed with Python and automation. I use my Python skills to automate
daily tasks at work that a machine can do better/faster than I can if done manually.
</p>
<hr />
<p>
  When I am not coding, I am busy working out or practicing Muay Thai.
</p>
