<h1 class="text-center">Welcome!</h1>
<p>My Name is Paul.</p>
<p>With over four years of professional experience as a Web Developer, I have the skills
necessary to product high quality websites and help companies improve their websites
through better user experience, security, maintenance and reliability.</p>
<p>Although most of my experience has been with the LAMP stack, I am always open
  to learn new technologies to advance my skills.</p>
<!--
<p>I have a passion for coding.</p>
<p>Building things with my own two hands has always brought me great satisfaction.</p>
<p>The reason I choose coding as the medium to build things is due to its ease of accessiblity
  and virtual resources.
<p>No physical resources are wasted and making multiple mistakes is more cost-friendly.</p>
<h2>My Experience</h2>
<p>
I have been a Web Developer for over four years, mainly working on the LAMP stack along
with the Magento framework.
</p>
-->
